<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Glimpse</title>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Link to Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" 
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">

    <!-- Your custom styles go here -->
    <script src="https://kit.fontawesome.com/ec9a7f8813.js" crossorigin="anonymous">
    </script>
</head>

<nav>
    <img src="/assets/City Glimpse Logo.png" class="logo">
        <!-- <span aria-hidden="true">Sign Up</span>
        <span aria-hidden="true">Login</span>
        <span aria-hidden="true"></span> -->
    </a>
</nav>

<body>
    {{{body}}}

  

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>

</body>
</html>