<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Glimpse</title>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Link to Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" 
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/style.css">
    
    <!-- Your custom styles go here -->
    <script src="https://kit.fontawesome.com/ec9a7f8813.js" crossorigin="anonymous">
    </script>
</head>
<body>

    <header>
        <nav>
            <!-- <img src="/public/assets/City Glimpse Logo.png"> -->
            <!-- <h1>City Glimpse</h1> -->
            <!-- <a role="button" class="fa-solid fa-burger" aria-label="menu" aria-expanded="false"> -->
              <!-- <span aria-hidden="true">Sign Up</span>
              <span aria-hidden="true">Login</span>
              <span aria-hidden="true"></span> -->
            <!-- </a> -->
        </nav>
    </header>
    
<div class="poloaroid">
    <div id="map"></div>
</div>

<!-- make into a partial -->
    <div id="comments">
        <h3>Comments</h3>
        <!-- Add your comment section content here -->
        <p>Restaurant Name:</p>
        <p>"It was good."</p>
        <!-- You can use JavaScript to dynamically load comments from a server -->
    </div>

    <!-- Link to Leaflet JavaScript -->

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    
    <!-- Your custom scripts go here, including Leaflet map initialization -->

<script src="../public/js/map.js"></script>


</body>
</html>
