<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS Links -->
  <link rel="stylesheet" href="../public/css/reset.css">
  <link rel="stylesheet" href="../public/css/landing-page.css">

  <!-- Title -->
  <title>City Glimpse - Explore, Discover, Share</title>
</head>

<body>

  <!-- Header -->
  <header>
    <h1>City Glimpse</h1>
    <!-- Add any additional header content here -->
  </header>

  <!-- Hero Section -->
  <section class="hero-section">
    <div class="container">
      <h3>The Perfect Companion for Discovering Restaurants and Other Eateries in the City!</h3>
      <p>
        Discover new places to eat, save your favorite spots, and share reviews with other food enthusiasts!
      </p>

      <!-- Login and Signup Buttons -->
      <div class="buttons-container">
        <a href="#" class="btn btn-primary">Login</a>
        <a href="#" class="btn btn-secondary">Signup</a>
      </div>
    </div>
    
  </section>



  <!-- Additional Content Goes Here -->

</body>

</html>
