<link rel="stylesheet" href="/css/landing-page.css">
<body>
  <!-- Hero Section -->
  <section class="hero-section">
    <div class="container-hero">
      <h3>The Perfect Companion for Discovering Restaurants and Other Eateries in the City!</h3>
      <p>
        Discover new places to eat, save your favorite spots, and share reviews with other food enthusiasts!
      </p>

      <!-- Login and Signup Buttons -->
      <div class="buttons-container">
        <a href="/login" class="btn btn-primary">Login or Signup</a>
      </div>
    </div>

  </section>
</body>