<link rel="stylesheet" href="/css/landing-page.css">
<body>
  <!-- Hero Section -->
  <section class="hero-section">
    <div class="container-hero">
      <h3>The Perfect Companion for Discovering Restaurants and Other Eateries in the City!</h3>
      <p id="hero-description">
        Discover new places to eat and save your favorite spots!
      </p>

      <!-- Login and Signup Buttons -->
      <div class="buttons-container">
        <a href="/login" class="btn btn-primary">Get Started!</a>
      </div>
    </div>

  </section>
</body>