<link rel="stylesheet" href="../public/css/landing-page.css">

  <!-- Hero Section -->
  <section class="hero-section">
    <div class="container">
      <h3>The Perfect Companion for Discovering Restaurants and Other Eateries in the City!</h3>
      <p>
        Discover new places to eat, save your favorite spots, and share reviews with other food enthusiasts!
      </p>

      <!-- Login and Signup Buttons -->
      <div class="buttons-container">
        <a href="#" class="btn btn-primary">Login</a>
        <a href="#" class="btn btn-secondary">Signup</a>
      </div>
    </div>

  </section>
