<header>
       <nav>
            <img src="/assets/City Glimpse Logo.png" class="logo">
              <!-- <span aria-hidden="true">Sign Up</span>
              <span aria-hidden="true">Login</span>
              <span aria-hidden="true"></span> -->
            </a>
        </nav>
</header>

<div id="map"></div>

<!-- Link to Leaflet JavaScript -->

<script src="https://unpkg.com/leaflet/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<!-- Your custom scripts go here, including Leaflet map initialization -->

<script src="/js/map.js"></script>