<link rel="stylesheet" href="/css/map.css">

<body>

  <div class="map-container">
    <div id="map"></div>
  </div>


<!-- Link to Leaflet JavaScript -->

<script src="https://unpkg.com/leaflet/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<!-- Your custom scripts go here, including Leaflet map initialization -->

<script src="./js/map.js"></script>

</body>
