* {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
height: 100vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin: 0;
/* Remove default body margin */
padding: 0;
/* Remove default body padding */
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(224, 224, 224, 0.5);
}

img {
  max-width: 15%;
  z-index: 5;
  margin-top: 10px;
}

#map {
  /* height: 400px;
  width: 60%;
  height: 100vh; */
  height: 75vh;
  width: 60vw; 
  float: left;
  border-radius: 20px;
  margin: 20px;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {

  #map {
    width: 93vw;
  }

}

#comments {
  width: 36.5%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #2f3135;
  margin: 20px;
  /* border: 4px solid #c1f3d6; */
  background-color: rgba(154, 225, 230, 0.83);
  border-radius: 20px;
  height: 678px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.435);
}

h3 {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-left: 6%;
  padding-bottom: 5%;
}

div > p {
padding-left: 2%;
}

h2 {
  color: rgb(69, 69, 202);
};

ul {
  font-size: .5rem;
  list-style-type: disc; /* You can use other values like 'circle', 'square', etc. */
  margin-left: .2rem; /* Adjust the margin as needed */
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: .6rem;
}

h5 {
  margin: .2rem;
}

input {
  margin-bottom: .3rem;
}

label {
  font-size: .7rem;
  margin-bottom: .3rem;
}

.container {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: rgb(75, 210, 75);
  padding: .3rem;
  border-radius: 5px;
  margin-top: .5rem;
}


.form-group {
  display: flex;
  flex-direction: column;
}

#login-box,
#signup-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 3rem .1rem;
  border-radius: 20px;
  background-color: rgba(154, 225, 230, 0.83);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.435);
}