/* universal styling */
* {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* all pages - backgrounds */
html {
height: 100vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin: 0;
/* Remove default body margin */
padding: 0;
/* Remove default body padding */
}

/* all pages - backgrounds, text styling */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: #fff;
}

/* all pages nav, logo styling */
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(224, 224, 224, 0.5);
}

/* logo styling */
img {
  max-width: 15%;
  z-index: 5;
  margin-top: 10px;
}

/* map styling */
#map {
  /* height: 400px;
  width: 60%;
  height: 100vh; */
  height: 75vh;
  width: 60vw; 
  float: left;
  border-radius: 20px;
  margin: 20px;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {

  #map {
    width: 93vw;
  }

}

/* login page - Card Headers */
/* landing page - main text */
h3 {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-left: 6%;
  padding-bottom: 5%;
  margin-bottom: .6rem;
}

/* login page - new to city glimpse */
h5 {
  margin: .2rem;
}

/* login page - login/sign up inputs */
input {
  margin-bottom: .3rem;
}

/* login page - login/sign up input labels */
label {
  font-size: .7rem;
  margin-bottom: .3rem;
}

/* login page - full container */
.container {
  display: flex;
  justify-content: center;
}

/* landing page - hero container */
.container-hero {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: rgba(154, 225, 230, 0.716);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.537);
}

/* login page - login/sign up buttons */
.btn {
  background-color: rgb(75, 210, 75);
  padding: .3rem;
  border-radius: 5px;
  margin-top: .5rem;
}

/* login page - login/sign up forms */
.form-group {
  display: flex;
  flex-direction: column;
}

/* login page - containers */
#login-box,
#signup-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 3rem .1rem;
  border-radius: 20px;
  background-color: rgba(154, 225, 230, 0.83);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.435);
}

/* landing page - get started button */
.buttons-container {
  margin-top: 1.5rem;
}

/* landing page - text */
p {
  font-size: .5rem;
}

/* landing page */
.hero-section {
  /* background-image: url('/assets/philly-cityscape.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}