* {
  margin: 0;
}

html {
  /* background-color: #5e5e60; */
  background-image: url('../../assets/Philly-background.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

header {
  background-color:	#f18d00;
  color: #f7f0df;;
  padding: .5rem;
}

nav {
  display: flex;
  justify-content: center;
  color: #f7f0df;
  max-width: 10%;
}

nav a {
  color: #f7f0df;
  text-decoration: none;
  margin: 0 10px;
}

#map {
  height: 400px;
  width: 60%;
  height: 100vh;
  float: left;
  border-radius: 20px;
  margin: 20px;
  }

#comments {
  width: 36.5%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #2f3135;
  margin: 20px;
  /* border: 4px solid #c1f3d6; */
  background-color: rgba(154, 225, 230, 0.83);
  border-radius: 20px;
  height: 678px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.435);
}

h3 {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-left: 6%;
  padding-bottom: 5%;
}

div > p {
padding-left: 2%;
}

h2 {
  color: rgb(69, 69, 202);
};